/*=============== HERO ===============*/

.hero {
    display: flex;
    padding: $m-1;
    background-color: $bg-hero;
    align-items: center;
    height: $hero-height;
    &__content {
        flex: auto;
    }
} 